<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Banner-->
    <section class="h-screen">
        <div class="visual-container h-1/2 bg-[url(../assets/img-banner-1.jpg)] bg-center bg-cover">

        </div>
        <div class="descrip-visual-container h-1/2 bg-[#f2f3ee] flex flex-col">
            <div class="btn-slider"></div>
            <div class="descrip-visual p-4">
                <p class="text-sm font-semibold">Lo Esencial</p>
                <h2 class="text-xl tracking-[0.1px] my-2 text-[#333333]">Hecho para Hacer que tu aventura sea reconfortante y especial</h2>
                <p class="text-[#333333] text-sm font-[400]">Hidrata tu piel y cuídala, todo en un tamaño para viajar contigo</p>
                <a class="" href="#">Visitar toda la tienda</a>
            </div>
        </div>
    </section>
    <!--Banner end-->
</body>
</html>