{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Physiology
        {% endblock %}
    </title>

    {% load static %}

    <!--Tailwind here-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!--Fonts here-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--Inter-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <!--Cormorand-->
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <!--apply styles with:-->
    <style> 
    .cormorant {
        font-family: "Cormorant", serif;
    }
    .inter {
        font-family: "Inter", sans-serif;
    }
    </style>
    {% block extra_head %}{% endblock %}

</head>
<body class="inter bg-[#fffef2]">
    <!--Blank space-->
    <div class="gray-bar h-11 w-screen bg-[#313131]"></div> 
    <!--Blank space end-->

    <!--Nav-->
    <header class="flex justify-center py-4 | lg:justify-around">
        <img class="w-32" src="{% static 'assets/logo.png' %}" alt="logo Physiology">
        <nav class="hidden items-center gap-10 | lg:flex">
            <ul class="flex gap-5 [&>li>a]:font-bold"> 
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'shop' %}">Tienda</a></li>
                <li><a href="{% url 'skin_guide' %}">La guía de la piel</a></li>
                <li><a href="{% url 'the_brand' %}">The brand</a></li>
                <li><a href="{% url 'the_journaling' %}">The journaling</a></li>
            </ul>
            <button class="cursor-pointer">
                <img src="{% static 'icons/lupa.png' %}" alt="lupa">
            </button>
        </nav>
    </header>
    <!--Nav end-->

    <main>
        {% block content %}
            
        {% endblock content %}
    </main>

    <!--Footer-->
    <footer class="flex flex-col text-sm py-15 px-5 bg-[#313131] text-white gap-20 | lg:px-20">
        <div class="up-content flex flex-col gap-10 | md:flex-row">
            <div class="tracking-[-0.1px] mb-10 | md:w-1/4">
                <p class="mb-[16px]">Suscríbete y recibe nuestras noticias y promociones</p>   
                <p>Suscríbete para recibir todas nuestras noticias. Al suscribirte, confirmas que has leído y comprendido nuestras politicas de privacidad.</p>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Pedidos y soporte</p>
                <hr>
                <ul class="font-light space-y-[24px] [&>li>a]:hover:underline">
                    <li><a href="{% url 'contact' %}">Contáctenos</a></li>
                    <li><a href="{% url 'faq' %}">Preguntas frecuentes</a></li>
                    <li><a href="{% url 'shipping' %}">Envíos</a></li>
                    <li><a href="{% url 'returns' %}">Devoluciones</a></li>
                    <li><a href="{% url 'terms' %}">Términos y condiciones</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Aviso de privacidad</a></li>
                </ul>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Distribución</p>
                <hr>
                <ul class="font-light space-y-[24px] [&>li>a]:hover:underline">
                    <li><a href="{% url 'partners' %}">Socios</a></li>
                    <li><a href="{% url 'find_distributor' %}">Localiza un distribuidor</a></li>
                    <li><a href="{% url 'become_distributor' %}">Ser distribuidor Physiology</a></li>
                    <li><a href="{% url 'benefits' %}">Beneficios</a></li>
                    <li><a href="{% url 'distribution_info' %}">Información distribución</a></li>
                </ul>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Acerca de Physiology</p>
                <hr>
            </div>
        </div>
        <div class="bottom-content flex flex-col gap-10 | md:flex-row">
            <div class="tracking-[-0.1px] mb-10 | md:w-1/4">
                <p class="font-bold mb-[16px]">Información</p>   
                <p>Suscríbete para recibir todas nuestras noticias. Al suscribirte, confirmas que has leído y comprendido nuestras politicas de privacidad.</p>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Filosofía</p>
                <hr>
                <ul class="font-light space-y-[24px] [&>li>a]:hover:underline">
                    <li><a href="{% url 'minimalist_philosophy' %}">Phylosofía Minimalista</a></li>
                    <li><a href="{% url 'radiant_skin' %}">Piel radiante libre de manchas</a></li>
                    <li><a href="{% url 'essential_only' %}">Conservamos solo lo esencial</a></li>
                    <li><a href="{% url 'minimalist_philosophy_2' %}">Phylosofía Minimalista</a></li>
                </ul>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Mi Cuenta</p>
                <hr>
            </div>
            <div class="flex flex-col space-y-[24px] | md:w-1/4">
                <p class="font-bold">Redes Sociales</p>
                <hr>
            </div>
        </div>
    </footer>
    <!--Footer end-->

    {# Bloque para JavaScript adicional específico de cada página (scripts que dependan del DOM de la página) #}
    {% block extra_js %}{% endblock %}
    
</body>
</html>