<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physiology</title>
    <!--tailwind here-->
    <link rel="stylesheet" href="/modules/tailwind/output.css">
    <!--fonts here-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <style>
        .cormorant-garamond {
            font-family: "Cormorant Garamond", serif;
        }
    </style>
</head>
<body class="bg-[#fffef2]">
    <!--nav start-->
    <header>
        <nav class="flex">
            <ul class="">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">La guía de la piel</a></li>
                <li><a href="#">The brand</a></li>
                <li><a href="#">The journaling</a></li>
            </ul>
        </nav>
    </header>
    <!--nav end-->
    <!--pagedon here!-->
    <script src="/modules/pagedone/src/js/pagedone.js"></script>
</body>
</html>